
.swal2-popup {
    font-family: 'Pretendard', sans-serif !important;
    border-radius: 16px !important;
}
.swal2-styled.swal2-confirm {
    background-color: var(--primary) !important; /* 프로젝트의 주색상 */
    box-shadow: none !important;
}
.swal2-styled.swal2-cancel {
    background-color: #f1f5f9 !important;
    color: #475569 !important;
}